html, body { height: 100%; }
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1b1c25 url("../../img/bg-1.png") no-repeat fixed center;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-register {
    width: 410px;
    max-width: 410px;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 10px 60px 0 rgba(29,29,31,.09);
    width: 100%;
    margin: auto;
}
.form-register label {
    color: #888ea8;
    text-transform: uppercase;
    font-size: 13px;
}
.form-register .input-group .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 12px 45px 12px 0;
    font-size: 16px;
    border-left: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    background: rgba(230, 230, 230, 0.20);
    border: none;
}
.form-register .input-group .input-group-prepend { margin-right: 0; }
.form-register .input-group .input-group-prepend .input-group-text {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background: rgba(230, 230, 230, 0.20);
    color: #fff;
    border-right: none;
    border: none;
}
.form-register .form-control::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
}
.form-register .form-control::-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
}
.form-register .form-control::-moz-placeholder {
    color: #fff;
    font-size: 13px;
}
.form-register .form-control:focus {
    z-index: 2;
    border-color: #fff;
}
.form-register .checkbox .custom-control label {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.form-register .checkbox .custom-checkbox .custom-control-input:checked~.custom-control-label::before { background-color: #fe998b; }
.form-register .forgot-pass a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.form-register .social-icons h5 {
    color: #494949;
    font-weight: 600;
}
.btn-gradient-warning { padding: 12px 15px 12px 15px; }
.custom-control-label::before { background-color: rgba(255, 255, 255, 0.6); }